@tailwind base;
@tailwind components;
@tailwind utilities;

.taskbar95 {
    min-height: 5lvh;
    max-height: 5lvh;
    background: #ccc;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-top-color: white;
    border-bottom-color: black;
}

.bg-gradient95 {
    background: rgb(117,0,124);
    background: linear-gradient(90deg, rgba(117,0,124,1) 0%, rgba(245,124,235,1) 100%);
}

.tb-btn95 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-width: 2px;
    font-size: 13pt;
    border-style: outset;
    border-color: white;
    border-right-color: black;
    border-bottom-color: black;
    background: transparent;
    border-radius: 1px;
    margin-left: 2px;
    padding-left: 4px;
    > img {
        width: 1lvw;
    }
}

.tb-btn95:hover {
    border-color: black;
    border-style: inset;
    border-right-color: white;
    border-bottom-color: white;
    background: #ffffffAA;
}

.tb-btn95:focus {
    border: 2px inset #DDD #CCC !important;
    background: #ffffffAA;
    outline: 0 !important;
}

.max-h-95 {
    max-height: 95lvh;
}

.min-h-95 {
    min-height: 95lvh;
}
.min-w-40vw {
    min-width: 60vw;
}

.img95 {
    width: 1.2rem;
    height: 1.2rem;
}

.border95 {
    border-width: 2px;
    border-style: outset;
    border-color: white;
    border-bottom-color: black;
    border-right-color: black;
}

.border95-inv {
    border-width: 2px;
    border-style: inset;
    border-color: black;
    border-bottom-color: white;
    border-right-color: white;
}

.bg95-gray {
    background-color: #ccc;
}

.btn95-gray {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    width: 1.2rem;
    height: 1.2rem;
    border-width: 2px;
    border-style: outset;
    border-color: white;
    border-bottom-color: black;
    border-right-color: black;
    background-color: #ccc;
    user-select: none;
}

.bg-gray-ccc {
    background: #ccc;
}

.btn95 {
    border-width: 2px;
    border-style: outset;
    border-color: white;
    border-right-color: black;
    border-bottom-color: black;
    background: transparent;
    border-radius: 1px;
    div {
        border-width: 2px;
        border-style: outset;
        border-color: #dfdfdf;
        border-right-color: #808080;
        border-bottom-color: #808080;
        background: #c0c0c0;
        color: black;
        padding: 0.25rem;
    }
}

.window95 {
    border-width: 2px;
    border-style: outset;
    border-color: #ffd8e7;
    border-right-color: #D2B0B0;
    border-bottom-color: #D2B0B0;
    background: transparent;
    border-radius: 1px;
    > div {
        border-width: 2px;
        border-style: outset;
        border-color: #FBC8E2;
        border-right-color: #744855;
        border-bottom-color: #744855;
        background: transparent;
        color: black;
        padding: 0.25rem;
    }
}

.btn95:hover {
    border: 2px inset #DDD !important;
    background: #ffffffAA;
    div {
        border: 2px inset #AAA !important;
        color: #444;
    }
}

.btn95:focus {
    border: 2px inset #DDD !important;
    background: #ffffffAA;
    outline: 0 !important;
    div {
        border: 2px inset #AAA !important;
        color: #444;
    }
}

.txt-in95 {
    border-width: 2px;
    padding: 0.25rem;
    border-style: inset;
    border-color: black;
    background: white;
    border-radius: 1px;
    padding: 4px;
    max-width: 100%;
}

.txt95 {
    border-width: 2px;
    padding: 0.25rem;
    border-style: inset;
    border-color: black;
    background: white;
    border-radius: 2px;
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 100px;
    }
}

.bg-95 {
    background-color: #FECAD5;
    background-image: url("/assets/background.gif");
    background-size: 100px;
    animation: scrolling 2s linear infinite;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    outline: 0 !important;
}
